header
	{
	max-width: 1355px;
	margin: 0 auto;
	padding-bottom: 2%;
	}
main
	{max-width: 1355px;
	margin: 0 auto;}
footer
	{
	max-width: 1355px;
	margin: 0 auto;}
.wrapper
	{padding:0 100px;}
gor>li {
padding: 8px;}
.gor {
font-size: 14px}
.rrr
{
	margin-left:0;
	width:40%;
}